<mat-nav-list class="sidenav-list">
    <a mat-list-item routerLink="/start" (click)="onToggleClose()">
      
      <span>0. Start</span>
    </a>
    <a mat-list-item routerLink="/description" (click)="onToggleClose()" >
      
      <span>1. Description of project</span>
    </a>
    <a mat-list-item routerLink="/land" (click)="onToggleClose()">
      
      <span>2. LUC</span>
    </a>
    <a mat-list-item routerLink="/cropland" (click)="onToggleClose()">
      
      <span>3. Cropland</span>
    </a>
    <a mat-list-item routerLink="/grassland" (click)="onToggleClose()">
      
        <span>4. Grassland</span>
    </a>
    <a mat-list-item routerLink="/management" (click)="onToggleClose()">
      
        <span>5. Management</span>
    </a>
    <a mat-list-item routerLink="/inland" (click)="onToggleClose()">
      
        <span>6. Inland wetlands</span>
    </a>
    <a mat-list-item routerLink="/coastal" (click)="onToggleClose()">
      
        <span>7. Coastal wetlands</span>
    </a>
    <a mat-list-item routerLink="/fisheries" (click)="onToggleClose()">
      
        <span>8. Fisheries and aquaculture</span>
    </a>
    <a mat-list-item routerLink="/inputs" (click)="onToggleClose()">
      
        <span>9. Inputs</span>
    </a>
    <a mat-list-item routerLink="/results" (click)="onToggleClose()">
      
        <span>10. Results</span>
    </a>
  </mat-nav-list>