.toolbar-flex {
    flex: 1 0.5 auto;
  }
  
  .mat-tab-link{
    flex: 1 0.5 auto;
  }

  div {
    background-color: rgb(72, 77, 82);
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    border-radius: 7%;
    
  }

  p{
    font-weight: bold;
    color: white 
  }
  